<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468669089681-kiv6orrmn3tred6463mk1r5qccbod8ve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468669089681-kiv6orrmn3tred6463mk1r5qccbod8ve</string>
	<key>API_KEY</key>
	<string>AIzaSyC1LbrtBgDTukeTCY5HjmoiROx-PvGhjd0</string>
	<key>GCM_SENDER_ID</key>
	<string>468669089681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-8c558</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-8c558.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468669089681:ios:86737b79cf61c07781fc30</string>
</dict>
</plist>